<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gwent Tournament</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <center><img alt="challenger logo" class="challogo" src="pic/challenger-logo.png">
        <h1>Gwent Tournament: Challenger</h1></center>
</header>
<div class="top-menu">
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="Schedule.html">Расписание игр</a></li>
        <li><a href="Players.html">Участники</a></li>
        <li><a href="Rating.html">Рейтинг</a></li>
        <li><a href="Sign_in.html">Авторизация</a></li>
    </ul>
</div>
<div class="stage">
    <div class="sun"></div>
    <div class="grass"></div>
    <div class="square"></div>
    <div class="round"></div>
</div>
</body>
</html>