<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gwent Tournament</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <script src="myscript.js"></script>
</head>
<body onload="registeronload()">
<header>
    <center><img alt="challenger logo" class="challogo" src="pic/challenger-logo.png">
        <h1>Регистрация</h1></center>
</header>
<div class="top-menu">
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="Schedule.html">Расписание игр</a></li>
        <li><a href="Players.html">Участники</a></li>
        <li><a href="Rating.html">Рейтинг</a></li>
    </ul>
</div>

<div class="main-part">
    <center>
        <form id="regform" name="register">
            Логин:
            <p class="forminput"><input name="login" type="text"/></p>
            <p class="formerror" id="loginerror"></p>
            Пароль:
            <p class="forminput"><input name="password" type="password"/></p>
            <p class="formerror" id="passworderror"></p>
            Повторите пароль:
            <p class="forminput"><input name="d_password" type="password"/></p>
            <p class="formerror" id="dpassworderror"></p>
            <input name="check" type="submit" value="Подтвердить"/>
        </form>
        <a href="Sign_in.html">
            <button>У меня есть аккаунт</button>
        </a>
    </center>
</div>
<p id="time">Time_placeholder</p>
</body>
</html>