<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gwent Tournament</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <script src="myscript.js"></script>
</head>
<body onload="scheduleonload()">
<header>
    <center><img alt="challenger logo" class="challogo" src="pic/challenger-logo.png">
        <h1>Расписание игр</h1></center>
</header>
<div class="top-menu">
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="Players.html">Участники</a></li>
        <li><a href="Rating.html">Рейтинг</a></li>
        <li><a href="Sign_in.html">Авторизация</a></li>
    </ul>
</div>
<div class="main-part">
    <center>Расписание игр:</center>
    <div id="schedule">
    </div>
</div>
<p id="time">Time_placeholder</p>
</body>
</html>